:root {
    --grid-cols: 1;
    --grid-rows: 1;
}


.canvas{
    height: 50vh;
    width: 50vh;
    margin: 10rem;
    background-color: rgb(82, 89, 95);
    border: 5px solid;
    display: grid;
    grid-template-columns: repeat(var(--grid-cols),1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
}

.pixel-grid{
    color: grey;
    border: 1px solid;
}

