:root {
    --grid-cols: 1;
    --grid-rows: 1;
    --background-paint: red;
    --background-start: white;
}

.canvas{
    height: 50vh;
    width: 50vh;
    margin: 10rem;
    background-color: var(--background-paint);
    border: 5px solid;
    display: grid;
    grid-template-columns: repeat(var(--grid-cols),1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
}


@keyframes hover {
    0% {
        background-color: var(--background-start);
    }
    100% {
        background-color: var(--background-paint);
    }
}

.pixel-grid{
    /* border: 1px solid; */
    animation-name: hover;
    animation-duration: 1ms;
    animation-fill-mode: backwards;
    animation-play-state: paused;
}

.pixel-grid:hover,
.pixel-grid:focus,
.pixel-grid:active {
    animation-fill-mode: forwards;
    animation-play-state: running;
}

